<div class="like">
    <a title="Įvertinti teigiamai">
        <i class="fa fa-thumbs-o-up" *ngIf="!isLiked()" (click)="like()"></i>
    </a>
    <a title="Atšaukti teigiamą įvertinimą">
        <i class="fa fa-thumbs-up" *ngIf="isLiked()" (click)="removeLike()"></i>
    </a>
    <a title="Įvertinti neigiamai">
        <i class="fa fa-thumbs-o-down" *ngIf="!isDisliked()" (click)="dislike()"></i>
    </a>
    <a title="Atšaukti neigiamą įvertinimą">
        <i class="fa fa-thumbs-down" *ngIf="isDisliked()" (click)="removeLike()"></i>
    </a>
</div>