<div class="travel-item well well-sm">
    <div class="blocklist-trip-name-wrapper">
        <a [routerLink]="['Tour', {id: travel.Id} ]">
            <img nopin="nopin" src="{{travel.ImageUrl}}">
        </a>
    </div>
    <div class="travel-item-details">
        <img src="https://dn1w8s6xszn0j.cloudfront.net/resources_version/desktop/img/default/user/t1/default_3.jpg" alt="" class="author-icon">
        <div class="travel-item-details">
            <div class="travel-item-name">{{travel.Name}}</div>
            <travel-cities-item [travel]="travel"></travel-cities-item>
        </div>
    </div>
    <div class="travel-item-misc">
        <span class="item pull-left"><i class="fa fa-calendar"></i>{{travel.wayPoints.length}} Days</span>
        <span class="item pull-right"><i class="fa fa-thumbs-o-up"></i>{{travel.Likes}}</span>
        <span class="item pull-right"><i class="fa fa-comments"></i>{{travel.CommentsCount}}</span>
        <span class="item pull-right" title="Views"><i class="fa fa-eye"></i>{{travel.Views}}</span>
        <div style="clear: both"></div>
    </div>
</div>