<div class="component">
    <like-directive [status]="1" [travelId]="travel.Id"></like-directive>
    <div class="component-header">
        <h4>{{travel.Name}}</h4>
    </div>
    <div class="component-body">
        <div class="">
            <p>
                {{travel.Descrription}}
            </p>
            <img src="{{travel.ImageUrl}}" alt="" class="author-icon">
        </div>
        <div class="">
            Kelionės trukmė: {{duration()}}
        </div>
        <travel-days-container [days]="travel.wayPoints" (show-route)="showRoute($event)"></travel-days-container>

        <a class="btn btn-info" (click)="showMainRoute(travel)">Rodyti pagrindinį kelionės maršrutą</a>
        <div id="the_view_map" style="min-height:400px;"></div>
    </div>
</div>

<div class="component" style="width: 400px; margin-left: 0">
    <div class="component-header"><div class="component-header-title">Komentarai</div></div>
    <div class="component-body">
        <comments-list [comments]="travel.Comments"></comments-list>
        <comment-create (addComment)="addComment($event)"></comment-create>
    </div>
</div>