<div class="travel-item well well-sm">
    <div class="blocklist-trip-name-wrapper">
        <a [routerLink]="['Tour', {id: travel.Id} ]">
            <img nopin="nopin" style="width: 300px; height: 170px;" src="{{travel.ImageUrl}}">
        </a>
    </div>
    <travel-item-author *ngIf="travel.Author" [author]="travel.Author" [title]="travel.Name"></travel-item-author>
    <div class="travel-item-misc">
        <!--{{travel.WayPoints.length}}-->
        <span class="item pull-left"><i class="fa fa-calendar"></i>{{travel.Duration}} Dienos</span>
        <span class="item pull-right" title="Teigiamų įvertinimų skaičius"><i class="fa fa-thumbs-o-up"></i>{{travel.LikesCount}}</span>
        <span class="item pull-right" title="Komentarų skaičius"><i class="fa fa-comments"></i>{{travel.CommentsCount}}</span>
        <span class="item pull-right" title="Peržiūrų skaičius"><i class="fa fa-eye"></i>{{travel.ViewsCount}}</span>
        <div style="clear: both"></div>
    </div>
</div>