<modal #myModal class="large">
    <modal-header [show-close]="true">
        <h4 class="modal-title" >Dienos: {{travel.OrderIndex}} maršrutas</h4>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-sm-12">
                <select [(ngModel)]="selectedDay" class="form-control"  (change)="abc(selectedDay)">
                    // value is a string or number
                    <option [value]="null">Pasirinkite tašką redagavimui</option>
                    <option *ngFor="#day of travel.TravelDays;  #i = index;" [value]="i">{{day.Name || i || 'H'}}</option>
                </select>
            </div>
            <travel-day-details-edit-modal *ngIf="selectedDay != null && (selectedDay || selectedDay == 0)" [selectedDay]="travel.TravelDays[selectedDay]"></travel-day-details-edit-modal>
            <div class="col-sm-12" id="travel_day_map" style="height: 500px;"></div>
        </div>
    </modal-body>
    <modal-footer></modal-footer>
</modal>