<div class="col-md-6">
    <div class="component">
        <div class="component-header">
            <div class="component-header-title">Kelionės kūrimas</div>
            <div class="component-header-body">
                Kelionės kūrimas
            </div>
        </div>

        <ul class="travel-items">
            <li class="first">
                <travel-day-item-component [travel]="travelHome"></travel-day-item-component>
            </li>
            <li *ngFor="#travel of travels; #i = index">
                <travel-day-item-component [travel]="travel" [title]="i+1">loading</travel-day-item-component>
            </li>
            <li class="last">
                <travel-day-item-component [travel]="travelHome"></travel-day-item-component>
            </li>
        </ul>

        <div class="component-footer">
            <a (click)="saveTravel()" class="btn btn-raised btn-success">
                Išsaugoti
                <div class="ripple-container"></div>
            </a>
            <a (click)="cancelTravel()" class="btn btn-raised btn-danger">Atšaukti</a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="component">
        <travel-map></travel-map>
    </div>
</div>