<div class="col-md-6">
    <div class="component">
        <div class="component-header">
            <div class="component-header-title">Kelionės kūrimas</div>
            <div class="component-header-body">
                Kelionės kūrimas
            </div>
        </div>
            <div class="tavel-item-name">
                <div class="form-group label-floating col-sm-12 is-empty" style="font-weight: bold">
                    <label class="control-label" for="name">Pavadinimas</label>
                    <input class="form-control" id="name"  [(ngModel)]="travel.Name" required="" type="text">
                </div>
            </div>
            <div class="tavel-item-name">
                <div class="form-group label-floating col-sm-6 is-empty">
                    <label class="control-label" for="name">Aprašymas</label>
                    <textarea class="form-control" id="name" type="text" [(ngModel)]="travel.Description" required=""></textarea>
                </div>
                <div class="form-group is-empty is-fileinput col-md-6">
                    <label class="col-md-4 control-label" for="inputFile">Nuotrauka</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nuotrauka..." readonly="" type="text" >
                        <input id="inputFile" multiple="" type="file" (change)="onFileUpload($event)">
                    </div>
                    <img src="{{travel.FullImageUrl()}}" style="max-width: 100%;"/>
                    <span class="material-input"></span>
                </div>
            </div>
        <div style="clear: both"></div>
        <ul class="travel-items">
            <li class="first">
                <travel-day-item-component [travel]="travel.StartDay" [hotelsList]="hotels[29]"></travel-day-item-component>
            </li>
            <li *ngFor="#travela of travel.WayPoints; #i = index" >
                <travel-day-item-component [travel]="travela" [title]="i+1" [hotelsList]="hotels[i]">loading</travel-day-item-component>
                <a class="btn btn-info" (click)="openTravelDayModal(travela)">Detalus dienos planas</a>
            </li>
            <li class="last">
                <travel-day-item-component [travel]="travel.EndDay" [hotelsList]="hotels[30]"></travel-day-item-component>
            </li>
        </ul>

        <div class="component-footer">
            <a (click)="saveTravel()" class="btn btn-raised btn-success">
                Išsaugoti
            </a>
            <a (click)="cancelTravel()" class="btn btn-raised btn-danger">Atšaukti</a>
        </div>
    </div>
</div>
<travel-day-details-modal></travel-day-details-modal>
<div class="col-md-6">
    <div class="component">
        <travel-map></travel-map>
    </div>
</div>