<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - HolidaysPlanningToolWeb</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/ng2-toastr.min.css" rel="stylesheet"/>
        <link href="~/css/primeui-ng-all.min.css" rel="stylesheet" />
        <link href="~/css/ripples.min.css" rel="stylesheet" />
        <link href="~/css/bootstrap-material-design.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link href="~/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    </environment>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSjYCCntbYJDDuF4CLpX61HV4PqlqSuIw&libraries=places"
            type="text/javascript"></script>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
<div style="width: 100%;" id="slider_u12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox" style="background-color: #009688;">
            <div class="item active">
                <img src="/images/travels_home_page_0.png" alt="ASP.NET" class="img-responsive" style=" margin: 0 auto;">
                <div class="carousel-caption">
                    <p>
                        Čia galite peržiūrėti ar susikurti kelionės palną
                        <a class="btn btn-default btn-default" href="">
                            
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/travels_home_page_1.jpg" alt="Visual Studio" class="img-responsive" style=" margin: 0 auto;">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-default btn-default" href="">
                           
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/travels_home_page_2.jpg" alt="Package Management" class="img-responsive" style=" margin: 0 auto;">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-default btn-default" href="">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">HolidaysPlanningToolWeb</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>*@
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/ripples.min.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/rx.js"></script>
    <script src="~/js/typescript.js"></script>
    <script src="~/js/angular2/angular2.dev.js"></script>
    <script src="~/js/angular2/angular2-polyfills.js"></script>
    <script src="~/js/angular2/http.dev.js"></script>
    <script src="~/js/angular2/router.dev.js"></script>
    <script src="~/js/ng2-toastr.js"></script>
    <script src="~/js/ng2-bs3-modal.min.js"></script>
    @*<script src="~/js/angular2-jwt.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>

    <script src="~/js/system.min.js"></script>
    <script src="~/js/rx.min.js"></script>
    <script src="~/js/typescript.min.js"></script>
    <script src="~/js/angular2/angular2.dev.min.js"></script>
    <script src="~/js/angular2/angular2-polyfills.min.js"></script>
    <script src="~/js/angular2/http.dev.min.js"></script>
    <script src="~/js/angular2/router.dev.min.js"></script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2016 - HolidaysPlanningToolWeb</p>
    </footer>

<script type="text/javascript">
    $(document).ready(function () {
        var counter = 0;
        $.material.init();
        
    });
</script>

@RenderSection("scripts", required: false)

</body>
</html>
