$tours-light-grey-color: #dfdfdf;
$tours-grey-color: #cdcdcd;
$tours-dark-grey-color: #777;
$tours-dark-color: #333;
$tours-light-blue: #00a0dc;
$component-item-padding: 2px;
$progress-start-color: #5cb85c;
$progress-mid-color: #f0ad4e;
$progress-end-color: #d9534f;
$travel-item-image-width-size: 200px;
$travel-item-image-height-size: 100px;
$travel-list-image-size: 40px;
$travel-item-spacing: 5px;
$author-image-size: 35px;
$large-modal-width: 1100px;

.component {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
}

.component-header {
    padding: 24px 24px 0 24px;
}

.component-footer {
    padding: 20px;
}

.component-header-title {
    color: #181818;
    font-size: 16px;
}

.component-header-body {
    margin-top: 23px;
    padding-right: 60px;
    color: #737373;
    font-size: 14px;
    margin-bottom: 23px;
}

.component-body {
    padding: 5px 5px;
}
.component-body p {
    display: inline-block;
    vertical-align: top;
}
.component .form-control {
    max-width: 1000px;
}

.component .control-panel {
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.component .control-panel .close {
    padding: 0 2px;
}

.component .item .row {
    margin-left: -$component-item-padding;
    margin-right: -$component-item-padding;
}

.component .item {
    background: $tours-grey-color;
    margin-bottom: $component-item-padding;
    padding: $component-item-padding;
}

.component .edit-field {
    padding: 5px;
}

.component .edit-field .edit-field-title {
    display: inline-block;
    min-width: 70px;
}

.component .edit-field span {
    color: $tours-dark-color;
    cursor: pointer;
    padding: 4px 4px;
}

.component .edit-field span:hover {
    background-color: $tours-light-blue;
    color: white;
}

@media (min-width: 992px) {
    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.component .tools {
    display: inline-block;
}

.component .inline {
    display: inline-block;
}

.notification-message {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 2000;
    min-width: 150px;
}

.my-progress-bar {
    background: $progress-start-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0, $progress-end-color, $progress-mid-color, $progress-start-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0, $progress-end-color, $progress-mid-color, $progress-start-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0, $progress-end-color, $progress-mid-color, $progress-start-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, $progress-end-color, $progress-mid-color, $progress-start-color); /* Standard syntax */
}

.travel-items {
    margin-right: 10px;
}

.travel-items li {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.travel-items .pre-item {
    position: absolute;
    left: 0;
    text-align: center;
    height: 100%;
}

.travel-items .pre-item .pre-item-icon {
    font-size: $travel-list-image-size;
    border: 2px solid $tours-light-blue;
    border-radius: 36px;
    display: block;
}

.travel-items .step-1-city-order {
    background: #2a97b4 none repeat scroll 0 0;
    color: #fff;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0#e4e4e4;
    font-size: 25px;
}

.travel-items .pre-item .joiner {
    width: 5px;
    height: calc(100% - #{$travel-list-image-size});
    background: $tours-light-blue;
    text-align: center;
    display: inline-block;
}

.travel-items .last .pre-item .joiner {
    height: 0;
}

.travel-items .travel-item-row {
    display: block;
}

.travel-near-image-item {
    width: calc(100% - (#{$travel-item-image-width-size} + 10px));
    display: inline-block;
}

.travel-image {
    max-width: $travel-item-image-width-size;
    max-height: $travel-item-image-height-size;
    display: inline-block;
}
.travel-create-item {
    
}


.travel-item {
    min-width: 220px;
    float: left;
    margin-right:20px;
}

.author-icon {
    display: inline-block;
}

.travel-item-details {
    display: inline-block;
    vertical-align: middle;
    margin-top: $travel-item-spacing;
}

.travel-item-name {
    font-weight: bold;
}

.travel-item-cities {
}

.travel-item-misc {
    margin-top: $travel-item-spacing;
}

.travel-item-misc .item {
    color: $progress-start-color;
    padding-right: 10px;
    cursor: pointer;
}
.travel-container-divider {
    margin-bottom: 20px;
    width: 100%;
    display: table;
}

.travel-container-divider .line {
    display: table-cell;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.travel-container-divider .inner-line {
    border-top: 3px solid $tours-dark-grey-color;
    border-color: $tours-dark-grey-color;
    height: 1px;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.travel-container-divider h4 {
    white-space: nowrap;
    font-family: inherit;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #555;
    line-height: 20px;
    padding: 0 0.8em;
}


.comments {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 1.8em;
    max-width: 500px;
}
.comments li {
    border-bottom: solid 1px $tours-light-grey-color;
    padding: 10px 0;
}
.comment {
    padding: 10px;
}
.comment .author {
    display: inline-block;
    font-weight: 500;
}
.comment .author .image{
    width: $author-image-size;
    height: $author-image-size;
}
.comment .author .name{
    color: $tours-dark-color;
    font-size: larger;
    font-weight: 700;
}
.comment .comment-date{
    color: $tours-light-blue;
    padding-left: 15px;
}
.comment .comment-text {

}
.like {
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}
.component.account {
    width:500px;
}
.travel-details-display-item {
    white-space: normal;
    display:inline-block;
    width: 300px;
   list-style: none;
}
.travel-days-items {
    position: relative;
}
.scroll-button {
    position: absolute;
    padding: 20px 5px;
    top: calc(50% - 30px);
}
.scroll-button.left {
    left: -20px;
}
.scroll-button.right {
    right:-20px;
}
.point-item-name {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.point-item-hours {
    font-weight: bold;
    color: $tours-light-blue;
}

.travel-details-display-item li {
    counter-increment: item;
    margin-bottom: 5px;
    position: relative;
}

.travel-details-display-item li:before {
    margin-right: 10px;
    content: counter(item);
    background: $tours-light-blue;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: -25px;
    top: 5px;
}